
<%- include('../layouts/header.ejs') %>


<body class="bg-black">
    <header>
        <div class="container-fluid bg-primary">
            <nav class="navbar navbar-expand-lg  ">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Data.com</a>
                 
                </div>
              </nav>
        </div>
    </header>


       
 <section>
    
    <div class="container bg-black">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="boxy position-absolute top-50 start-50 translate-middle text-center text-light">
                    <h2>Welcome to Data.com</h2>
                <p>
                    "Welcome to Data.Con, your gateway to the world of insights and analytics. Uncover the power of data-driven decisions as we navigate through the realms of information, providing you with cutting-edge solutions and trends. 
                    Let's embark on a journey where data meets innovation, transforming possibilities into realities."</p>

                <h3>Create an account. <a href="/register">register</a></h3>
                <h3>Already a user? <a href="/login">Login</a></h3>
                <h3>Admin Login <a href="/admin">Login</a></h3>
                </div>
                
            </div>
        </div>
    </div>

</section> 
</body>


<%- include('../layouts/footer.ejs') %>